@model Pingvalue.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}

<div class="container-fluid">
    <div class="form-horizontal">
        <h4>帳戶設定</h4>
        <hr />
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
    </div>

</div>
